*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#root {
	background: rgb(33, 33, 109);
	height: 100vh;
	position: relative;
}

.piano-container {
	display: flex;
	position: absolute;
	background: rgb(74, 213, 255);
	inset: 0;
	margin: auto;
	width: 600px;
	height: 300px;
	padding: 10px;
}

.white-key {
	position: relative;
	background: white;
	width: 60px;
	border: 2px solid rgb(34, 34, 34);
	z-index: 1;
}

.white-key:hover {
	cursor: pointer;
}

.white-key:active {
	background: rgb(207, 207, 207);
}

.black-key {
	position: relative;
	background: black;
	width: 40px;
	height: 200px;
	z-index: 2;
}

.black-key:hover {
	cursor: pointer;
}

.black-key:active {
	background: rgb(54, 54, 54);
}
