*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#root {
	background: rgb(33, 33, 109);
	height: 100vh;
	position: relative;
}

.piano-container {
	display: flex;
	position: absolute;
	background: white;
	inset: 0;
	margin: auto;
	width: 600px;
	height: 300px;
}

.white-key {
	background: white;
	width: 60px;
	border: 2px solid rgb(34, 34, 34);
}

.black-key {
	background: black;
	width: 40px;
	height: 200px;
}
